Repository RemarkableGames/tile-matcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix

.lintstagedrc:

{
  "*.{html,md}": ["prettier --write", "git add"],
  "*.js": ["npm run lint:fix", "git add"],
  "src/**/*.{css,json}": ["prettier --write", "git add"]
}

docs(readme): update prerequisites, install, run, release, deploy
  README.md
Due: prettier --write

chore(release): 0.2.0
  CHANGELOG.md
  package.json
Due: prettier --write

gitploy
  index.html
  static/css/main.b23fba45.css
  static/css/main.b23fba45.css.map
  static/js/main.9a169e08.js
  static/js/main.9a169e08.js.map
Due: prettier --write, npm run lint:fix

docs(readme): update description and add links
  README.md
Due: prettier --write

ci(github): create workflow build.yml
  .github/workflows/build.yml
Due: none

ci(github): update workflow build.yml
  .github/workflows/build.yml
Due: none

Deploying to gh-pages from @ remarkablegames/tile-matcher@b941f78a4402612b2454361152c3defe976732c4 🚀
  index.html
  static/css/main.74dd7da9.css
  static/css/main.74dd7da9.css.map
  static/css/main.b23fba45.css
  static/css/main.b23fba45.css.map
  static/js/main.0efef203.js
  static/js/main.0efef203.js.map
  static/js/main.9a169e08.js
  static/js/main.9a169e08.js.map
Due: prettier --write, npm run lint:fix

fix: remove polyfill.io
  src/index.js
Due: npm run lint:fix

Deploying to gh-pages from @ remarkablegames/tile-matcher@3b8baf70b82049b52e17e17c8dbc9a3b29bb1b3e 🚀
  index.html
  static/js/main.0efef203.js
  static/js/main.0efef203.js.map
  static/js/main.52893af0.js
  static/js/main.52893af0.js.map
Due: prettier --write, npm run lint:fix

ci(github): use gitploy-action in build.yml
  .github/workflows/build.yml
Due: none

ci(github): fix workflow build.yml
  .github/workflows/build.yml
Due: none

build: deploy 3f58c1549d9c31ab08c32304b89c48079dc08978 to gh-pages
  index.html
  static/css/main.74dd7da9.css
  static/css/main.74dd7da9.css.map
  static/js/main.c9539f6a.js
  static/js/main.c9539f6a.js.map
Due: prettier --write, npm run lint:fix

ci(github): update build.yml
  .github/workflows/build.yml
Due: none

build: deploy b9ada2ac9baa2a2dcaaee69bc27a79011c1a96b9 to gh-pages
  index.html
  static/css/main.74dd7da9.css
  static/css/main.74dd7da9.css.map
  static/js/main.90a38117.js
  static/js/main.90a38117.js.map
Due: prettier --write, npm run lint:fix
